*{
    margin: 0;
}
p{
    font-size: 1rem;
}
.container{
    display: grid;
    grid-template-columns: 20px 50px ;
    background-color: aquamarine;
}
.grid-item{
    background-color: beige;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    column-gap: 5px;
    padding: 10px;
    justify-content: space-between;
}
.nav-item{
    background-color: bisque;
}
.nav-item-container{
    display: flex;
    column-gap: 5px;
}
.imag{
    text-align: center ;
}
.co{
    text-align: center;
    text-decoration-color: blueviolet;
    background-color: wheat;
}
.gi{
    text-align: center;
    background-color: azure;
    font-size: 15px
}